.top-navigation{
	height:100%;
	border-bottom: 1px solid #888888;
	padding-bottom: 1rem;
	padding-top: 1rem;
	box-shadow: 5px 5px 5px #888888;
}
.search-bar{
	font-size: 1.5rem;
    height: 4rem;
}
.articles{
	border-bottom: 1px solid black;
}
.article-link{
	text-decoration: none;
	color:black;
}
.article-link:hover{
	color: #707c07;
}
.articles:hover{
	background-color: #80808069;
}
.text-right{
	text-align: right;
}